@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light-green{
  background-color: lightgreen;
}

.light-red{
  background-color: #FC7374;
}

.navbar{
  padding : 5px 20px;
  background-color: #222222;
  color:#FFF;
}

.link{
  padding: 10px 15px;
  margin: auto 2px;
  border-radius: 9px;
  background-color: #332940;
  border: #7C7C7C solid 1px;
  color: #FFF;
  font-size: 15px;
}

.navbar .logo-img{
  width: 50px;
  height: 50px;
}

.to-do{
  width: 75%;
  margin : 7px auto;
  padding : 10px;
  justify-content: start;
}

.heading{
  background-color: #121212;
  border-radius: 10px 10px 0px 0px;
  border: #242424 solid 0px;
  padding: 10px 10px
}

.card{
  border: #7C7C7C solid 1px;
  border-radius: 10px;
  background-color:#2C2C2C ;
  color: #FFF;
}

label{
  font-size: 20px;
}

.create{
  width: 40%;
  margin : 7px auto;
  padding : 10px;
  justify-content: start;
}

form textarea, input{
  margin: 5px 0px;
  padding: 10px 10px;
  border-radius: 5px;
  border : #3f3f3f solid 1px;
  color: #dfdfdf;
  background-color: #434343;
}

form textarea{
  min-height: 150px;
}

form button{
  width: 30%;
  margin: 36px auto;
}

.loading{
  width: 100%;
  margin: 10px auto;
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 786px) {
  .to-do{
    width: 100%;
  }
  .create{
    width: 75%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}
